.swatches {
  list-style: none;
  display: block;
  margin: auto;
}
.bg-black{
  width: 1em;
  height: 1em;
  background: black;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right:.5em;
}
.bg-blue{
  width: 1em;
  height: 1em;
  background: blue;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right:.5em
}
.bg-gray{
  width: 1em;
  height: 1em;
  background: gray;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right:.5em
}
.bg-green{
  width: 1em;
  height: 1em;
  background: green;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right:.5em
}
.bg-khaki{
  width: 1em;
  height: 1em;
  background: khaki;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right:.5em
}

.bg-red{
  width: 1em;
  height: 1em;
  background: red;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.bg-black,.bg-blue, .bg-gray, .bg-green, .bg-khaki, .bg-red {
  float:left;
}
p {
  clear:both;
}

p.desc{
  text-align: center;
  height:2.25em;
}
h4{
  padding-top: .5em;
  text-align: center;
}
h3{
  margin: 0;
  text-align: center;
  font-size: 2em;
}
h2{
  padding-left: 2em;
  margin: 0;
  text-align: left;
  font-size: 3em;
}
section{
  float:left;
  padding: 1em 2em 1em 2em;
  width:14em;
 
}
p.price {
  text-align: center;
  margin-bottom:.5em;
}
p.savings-blank {
  margin-top: 0;
  white-space:pre-line;
}
p.savings {
  text-align: center;
  margin-top: 0;
}
p.price-special {
  text-align: center;
  color: red;
  margin-bottom: .5em;
}
.strike-through {
  text-decoration: line-through;
  color:black;
  margin-left: .5em;
  margin-bottom: .5em;
}
img {
  display: block;
  margin: auto;
}
button {
  display: block;
  margin: auto;
}
.review-rating{
  color:darkgoldenrod;
  margin-left: 4em;
}
footer{
  padding-top: .5em;
  text-align: center;
}
